body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background 0.5s ease;
  background: linear-gradient(to right, #4facfe, #00f2fe);
}

.app {
  width: 95%;
  max-width: 420px;
  background: rgba(255,255,255,0.15);
  backdrop-filter: blur(15px);
  padding: 25px;
  border-radius: 20px;
  text-align: center;
  color: white;
  box-shadow: 0 8px 32px rgba(0,0,0,0.3);
}

.search-box {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.search-box input {
  flex: 1;
  padding: 10px;
  border-radius: 10px;
  border: none;
  outline: none;
}

.search-box button {
  padding: 10px 15px;
  border: none;
  border-radius: 10px;
  background: #ffffff;
  color: #333;
  cursor: pointer;
  font-weight: bold;
}

.weather-card img {
  width: 100px;
}

.weather-card h3 {
  font-size: 40px;
  margin: 10px 0;
}

.forecast-title {
  margin-top: 20px;
}

.forecast {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 10px;
}

.forecast-card {
  width: 60px;
  background: rgba(255,255,255,0.2);
  padding: 10px;
  border-radius: 10px;
  margin: 5px 0;
}

.forecast-card img {
  width: 40px;
}

/* Mobile */
@media(max-width: 500px){
  .forecast {
    overflow-x: auto;
    flex-wrap: nowrap;
  }

  .forecast-card {
    min-width: 70px;
  }
}
/* Dark Mode Styles */
.dark-mode {
  background: linear-gradient(to right, #141E30, #243B55);
}

.dark-mode .app {
  background: rgba(0, 0, 0, 0.6);
  color: white;
}

.theme-btn {
  margin-bottom: 15px;
  padding: 8px 12px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  font-weight: bold;
}